body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
}
.bt_wrapper {
  position: fixed !important;
  z-index: 999 !important;
  bottom: 0px !important;
  animation: 0.5s ease-out 0s 1 normal none running jBcSpD !important;
  right: 0px !important;
  width: 100vw !important;
  height: 100vh !important;
  background: radial-gradient(
    at right bottom,
    rgba(0, 0, 0, 0.04) 0%,
    rgba(0, 0, 0, 0) 72%
  ) !important;
}
.bt_laucher {
  position: absolute !important;
  z-index: 1000 !important;
  display: block !important;
  flex-wrap: nowrap !important;
  width: auto !important;
  overflow: visible !important;
  background: transparent !important;
  bottom: 30px !important;
  right: 30px !important;
}

.bt_icon_wrapper {
  position: relative !important;
  overflow: visible !important;
}

.bt_icon_styled {
  background: rgba(255, 255, 255, 0.85) !important;
  backdrop-filter: blur(30px) !important;
  position: relative !important;
  box-sizing: border-box !important;
  flex-wrap: nowrap !important;
  overflow: initial !important;
  cursor: pointer !important;
  background: linear-gradient(
    180deg,
    #d96578 0%,
    #258ac3 100%,
    #258ac3 100%
  ) !important;
  transition: box-shadow 0.2s ease-out 0s !important;
  animation: 0.2s cubic-bezier(0.1, 0, 0.6, 1) 0.35s 1 normal backwards running
    fcEaNs !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 24px !important;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px, rgb(0 0 0 / 15%) 0px 8px 30px,
    rgb(255 255 255 / 20%) 0px 0px 0px 1px inset !important;
}

.bt_icon {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bt_icon > img:hover {
  transform: rotate(45deg);
}
.bt_icon > img {
  width: 40px;
  height: 40px;
  flex: 0 0 auto;
}

/** -------------------------- BT Canvas--------------------------  */

.bt_canvas {
  width: 100%;
  height: 100%;
}

.bt_meta_wrapper {
  display: none;
}
.bt_meta_wrapper_show {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  -webkit-animation: scale-in-br 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-in-br 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  /* animation: appear 150ms ease-in 1; */
}
.bt_meta_wrapper_hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-animation: scale-out-br 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scale-out-br 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.bt_meta_styled {
  background-color: white;
  width: 95%;
  position: relative;
  height: 90%;
  border-radius: 16px !important;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px, rgb(0 0 0 / 15%) 0px 8px 30px,
    rgb(255 255 255 / 20%) 0px 0px 0px 1px inset !important;
}
.bt_meta_close_btn {
  width: 32px;
  position: absolute;
  height: 32px;
  background-color: brown;
  border-radius: 8px;
  margin: 8px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18pt;
  right: 0;
  cursor: pointer;
  z-index: 99999999;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px, rgb(0 0 0 / 15%) 0px 8px 30px,
    rgb(255 255 255 / 20%) 0px 0px 0px 1px inset !important;
}
.bt_meta_close_btn:hover {
  opacity: 0.3;
}

.bt_meta_close_btn > span {
  color: white;
  font-size: 18pt;
  text-align: center;
  width: 100%;
}
/* @keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
} */

@-webkit-keyframes scale-in-br {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-br {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2022-1-24 17:3:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@-webkit-keyframes scale-out-br {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
@keyframes scale-out-br {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    opacity: 1;
  }
}
